<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<link rel="shortcut icon" href="../../images/favicon.ico" />
		<link rel="bookmark" href="../../images/favicon.ico" type="image/x-icon"/>
		<title>金螳螂质量App-中国装饰行业持续领跑者</title>
		<link rel="stylesheet" href="../../css/base.css" />
		<link rel="stylesheet" href="../../css/staff/proList.css">
	</head>
	<body>
		<div id="QMApp" class="qm-con" v-cloak>
			<!--tab标签-->
			<div class="tab">
				<div class="tab-content clearfix">
					<div class="tab-first" v-on:click="tabChange" typeid="0">
						<span>草稿</span>
					</div>
					<div class="tab-second" v-on:click="tabChange" typeid="1">
						<span>整改中</span>
					</div>
					<div class="tab-third" v-on:click="tabChange" typeid="2">
						<div>
							<span class="active">待审核</span>
							<div class="message">
								<span  v-if="count!=0">{{count}}</span>
							</div>
						</div>
					</div>
					<div class="tab-forth" v-on:click="tabChange" typeid="3">
						<span>已完成</span>
					</div>
				</div>
			</div>
			<!--搜索-->
			<div class="header">
				<div class="header-content">
					<div class="header-search clearfix" style="margin-left: 0px">
						<div class="search-left">
							<div v-on:click="searchPj"><img src="../../images/staff/proList/search2.png"></div>
							<div class="search-input"><input placeholder="输入项目名称/编号" onfocus="this.placeholder=''" onblur="this.placeholder='输入项目名称/编号'"></div>
							<div v-on:click="searchDelete"><img src="../../images/staff/proList/delete.png"></div>
						</div>
					</div>
				</div>
			</div>
			<!--content-->
			<div class="detail" id="wrapper">
				<div id="scroller">
					<div class="detail-content draft" typeid="0">
						<div class="detail-item" v-on:click="problemLst" v-for="(message,index) in draftLst" v-bind:pjId="message.Project_Id">
							<div class="detail-first">
								<span>{{message.Project_Code}}</span>
								<span>{{message.Create_Date.substr(5,5)}}</span>
							</div>
							<div class="detail-second">
								<span>{{message.Project_Name}}</span>
							</div>
						</div>
					</div>
					<div class="detail-content rectification" typeid="1">
						<div class="detail-item" v-on:click="problemLst" v-for="(message,index) in rectificationLst" v-bind:pjId="message.Project_Id">
							<div class="detail-first">
								<span>{{message.Project_Code}}</span>
								<span>{{message.CheckCount}}</span>
							</div>
							<div class="detail-second">
								<span>{{message.Project_Name}}</span>
							</div>
						</div>
					</div>
					<div class="detail-content review" typeid="2">
						<div class="detail-item" v-on:click="problemLst" v-for="(message,index) in reviewLst" v-bind:pjId="message.Project_Id">
							<div class="detail-first">
								<span>{{message.Project_Code}}</span>
								<span>{{message.CheckCount}}</span>
							</div>
							<div class="detail-second">
								<span>{{message.Project_Name}}</span>
							</div>
						</div>

					</div>
					<div class="detail-content complete" typeid="3">
						<div class="detail-item" v-on:click="problemLst" v-for="(message,index) in completeLst" v-bind:pjId="message.Project_Id">
							<div class="detail-first">
								<span>{{message.Project_Code}}</span>
								<span>{{message.CheckCount}}</span>
							</div>
							<div class="detail-second">
								<span>{{message.Project_Name}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="black"></div>
			<!--footer-->
			<div class="footer" >
				<div class="footer-content clearfix">
					<div class="footer-left">
						<div>
							<a v-on:click="rectificationPage">
								<img src="../../images/staff/proList/rectification-selected.png">
								<div >
									<span>整改</span>
								</div>
							</a>
						</div>
					</div>
					<div class="footer-middle">
						<div >
							<a v-on:click="submitPage">
								<img src="../../images/staff/proList/initiated.png">
							</a>
						</div>
					</div>
					<div class="footer-right">
						<div>
							<a v-on:click="reportPage">
								<img src="../../images/staff/proList/report.png">
								<div>
									<span>报表</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!--loading-->
			<div class="loading"></div>
			<div class="submit-cover">
				<div class="cover-inner load5">
					<div class="loader">Loading...</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../../../lib/jquery/jquery.min.js" ></script>
		<script type="text/javascript" src="../../../lib/iscroll.js" ></script>
		<script type="text/javascript" src="../../../lib/mobilePart.js"></script>
		<script type="text/javascript" src="../../../lib/jquery/mobiscroll_date.js" ></script>
		<script type="text/javascript" src="../../../lib/jquery/mobiscroll.js" ></script>
		<script type="text/javascript" src="../../../lib/vue/dist/vue.min.js" ></script>
		<script type="text/javascript" src="../../../lib/vue/dist/vue-resource.min.js" ></script>
		<script type="text/javascript" src="../../../lib/util_nm.js" ></script>
		<script type="text/javascript" src="../../js/quality/proList.js"></script>
	</body>
</html>
