
/*header*/
.header .header-left>.role-select{
    position: relative;
    display: inline-block;
    color: white;
}
.header .header-left>.role-list{
    width: 100%;
    display: none;
    position: absolute;
    left: 0px;
}
.header .header-left>.role-list>span:nth-child(1){
    display: block;
    width: 6rem;
    padding-left: 6.5%;
    background: white;
    color: #666;
    height: 3rem;
    line-height: 3rem;
    box-shadow: 0 2px 2px rgba(0,0,0,0.15);
    border: 1px solid rgba(209,192,138,0.25);
    box-sizing: border-box;
}
.header .header-left>.role-list>span:nth-child(2){
    display: block;
    width: 6rem;
    background: white;
    padding-left: 6.5%;
    color: #666;
    height: 3rem;
    line-height: 3rem;
    box-shadow: 0 2px 2px rgba(0,0,0,0.15);
    border: 1px solid rgba(209,192,138,0.25);
    box-sizing: border-box;
}


.header .header-search{
    display: none;
}
.header .header-search .search-left{
    float: left;
    background-color: #F8F6EE;
    width: 85%;
    height: 3rem;
    margin: 0.5rem auto;
;
}
.header .header-search .search-right{
    float: right;
    width: 15%;
    text-align: right;
}

.header .header-search .search-left>div:nth-child(1) {
    /* line-height: 3rem; */
    width: 10%;
    /* height: 3rem; */
    float: left;
    text-align: center;
    margin-top: -0.3rem;
}

.header .header-search .search-left>div:nth-child(2){
    left: 2rem;
    height: 3rem;
    line-height: 3rem;
    width: 80%;
    float: left;
}
.header .header-search .search-left>div:nth-child(2)>input{
    width: 100%;
    border:none;
    background-color: #F8F6EE;
    color: #B2B2B2;
    font-size: 1rem;
}
.header .header-search .search-left>div:nth-child(3) {
    width: 10%;
    /* height: 3rem; */
    line-height: 3rem;
    float: left;
    text-align: center;
    margin-top: 0.2rem;
}

.header .header-search .search-left>div>img{
    width:1.17rem;
    height:1.17rem;
}

.header .header-search .search-right{
    color: #D1C08A;
    font-size: 1.17rem;
}
/*footer*/
.footer{
    position: absolute!important;
    z-index: 0!important;
}
.footer .footer-left span{
    color: #D1C08A;
}
/**/
.out{
    display: none;
    position: absolute;
    top: 4rem;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #666666;
    z-index: 8;
    font-size: 1.42rem;
    text-align: center;
    background: white;
    box-shadow: 0 2px 2px rgba(0,0,0,0.15);
}

/*tab*/
.tab{
    position: absolute;
    width: 100%;
    background-color: white;
    top: 4.3rem;
    border-bottom: 1px solid rgba(209,192,138,0.25);
    font-size: 1.17rem;
    color: #666;


}
.tab .tab-content{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

.tab .tab-first{
    float: left;
    width: 16.75%;
    text-align: center;
}
.tab .tab-second{
    float: left;
    width: 16.75%;
    margin-left: 11%;
    text-align: center;
}
.tab .tab-third{
    float: left;
    width: 16.75%;
    margin-left: 11%;
/*    position: relative;*/
    text-align: center;
}
.tab .tab-third>div{
    position: relative;
    display: inline-block;

}
.tab .tab-third .message{
    position: absolute;
    top: -0.5rem;
    right: -1.2rem;


}
/*.tab .tab-third>span:after{
    position: absolute;
    background: url("../../images/staff/proList/message.png");
    background-size: contain;
    width: 1.08rem;
    height: 1.08rem;
    content: '11';
    color: white;
    font-size: 5px;
}*/
.tab .tab-third .message span{
    font-size: 1rem!important;
    color: #FFFFFF;
    background: #C80E0E;
    border-radius: 103%;
    width: 1.3rem;
    height: 1.3rem;
    display: block;
}
.tab .tab-forth{
    float: left;
    width: 16.75%;
    margin-left: 11%;
    text-align: center;
}
.active{
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #A28835;
    color: #A28835;
}
/*detail*/
.detail{
    /*另一种方法*/
    /*   position: relative;
        top: 7rem;
        margin-left: 6.5%;
        width: 87%;
        margin-top: 0.75rem;
        padding-bottom: 7rem;*/
    position: absolute;
    top: 7.5rem;
    width: 100%;
    overflow: hidden;
    bottom: 4.5rem;
}

.detail .detail-content{
   width: 100%;
}

.detail .review{
    display: block;
}
.detail .draft{
    display: none;
}
.detail .rectification{
    display: none;
}
.detail .complete{
    display: none;
}

.detail .detail-content .detail-item{
    padding: 1rem 6.5%;
    border-bottom: 1px solid rgba(209,192,138,0.25);
}
.detail .detail-content .detail-item .detail-first{
    position: relative;
}
.detail .detail-content .detail-item .detail-first span:nth-child(1){
    font-size: 1.25rem;
    color: #666666;
}
.detail .detail-content .detail-item .detail-first span:nth-child(2){
    font-size: 1.1rem;
    color: #999;
    position: absolute;
    right: 0rem;
}
.detail .detail-content .detail-item .detail-second{
    font-size: 1.25rem;
    color: #333333;
    margin-top: 0.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.detail .detail-content .detail-item .detail-third{
    font-size: 1.17rem;
    color: #999999;
    margin-top: 0.83rem;
}
.detail .detail-content .detail-item .detail-third span{
    margin-right: 0.42rem;
}
/**/
.loading{
    width: 100%;
    height: 100%;
    position: absolute;
    background: white;
    z-index: 2;
}
.black{
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    opacity: 0.4;
    display: none;
    z-index: 1;
}